@model SonOfCod.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome to Fontaine Fisheries!</h2>
    <p>Hello @User.Identity.Name!</p>


    string Image = "";
    if (Model.ProfilePicture != null)
    {
        var base64 = Convert.ToBase64String(Model.ProfilePicture);
        Image = String.Format("data:image/gif;base64,{0}", base64);

    }

    <img height="200" width="200" src="@Image" />



    @Html.ActionLink("See the Newsletter", "Index", "Newsletter")<br />
    @Html.ActionLink("Signup for our Newsletter", "Create", "Signup")
    @using (Html.BeginForm("LogOff", "Account"))
    {

        <br />
        <input type="submit" class="btn blue darken-4" value="Log out" />
    }
}
else
{
    <h2>Sign in to Fontaine Fisheries</h2>
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("See the news letters", "Index", "Newsletter")</p>
    
}

